{{ function('get_header', '') }}

<main id=content>
        <section class=sc-banner-wide><img class='lazyload banner-img' data-sizes=100vw data-srcset='
        /uploads/wroclaw_kontakt-2-a_hu59920e51b24b49e6dc3a65e736e4fe12_419233_500x0_resize_q75_box.webp 500w
      
      
        , /uploads/wroclaw_kontakt-2-a_hu59920e51b24b49e6dc3a65e736e4fe12_419233_800x0_resize_q75_box.webp 800w
      
      
        , /uploads/wroclaw_kontakt-2-a_hu59920e51b24b49e6dc3a65e736e4fe12_419233_1200x0_resize_q75_box.webp 1200w
      
      
        , /uploads/wroclaw_kontakt-2-a_hu59920e51b24b49e6dc3a65e736e4fe12_419233_1500x0_resize_q75_box.webp 1500w 
      
      
      
      ' alt>
            <div class='banner-wide-content sec-padding'>
                <div class=banner-left-col>
                    <h1 class='header-template banner-header'><span class='f-w900 txt-break txt-white txt-XXL'>Agencja SEO</span></h1>
                    <p class='header-template banner-slogan'><span class='f-w400 txt-white txt-S'>Wejdź z nami do rakiety. Widzimy się na Googlowym księżycu!</span></p>
                    <div class=trust-us-wrapper><span>Zaufali nam:</span>
                        <section>
                            <ul>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/tuwroclaw-logo-aw.jpg class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/medicus-logo-aw.jpg class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/mbp-wroclaw-logo-aw.jpg class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/inkom-logo-aw.jpg class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/witaminaiziolo-logo.jpg class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/4ti-logo-aw.jpg style=height:100% class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/comfortplus-logo-aw.jpg class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/multivoucher-logo.jpg class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/venitti-logo.jpg class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/costa-logo.jpg style=height:100% class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/wsm24-logo.jpg class=gray-images-logo></li>
                                <li style=list-style-type:none;max-height:100px;display:flex;align-items:center;overflow:hidden><img src=/uploads/amazigo-logo.jpg class=gray-images-logo></li>
                            </ul>
                        </section>
                    </div>
                </div>
                <div class=banner-right-col>
                    {% include "form.twig" %}
                </div>
            </div><img class=banner-logo src=/img/AW.svg>
        </section>
        <section class='sec-padding sc-two-col-img-txt'>
            <div class='two-col-row row-0'>
                <div class=first-col>
                    <div class='header-template header-counter'><span class='f-w900 txt-underline txt-break txt-red txt-XL'>POZNAJ NAS</span>
                        <h2 class='header-template f-w700 txt-black txt-XXL header-counter'>Agencja SEO</h2>
                    </div>Zanim porozmawiamy o obsłudze domeny, najpierw przygotujemy dla Ciebie bezpłatny audyt strony. W audycie sprawdzimy Twoją stronę w naszych specjalistycznych programach SEO, wyszczególnimy błędy oraz ustalimy strategię pozycjonowania Twojej domeny. Zostaw nam swoje dane, a wkrótce odezwiemy się z konkretami!
                    <a class=two-col-link href=/ rel=follow>Przeczytaj więcej</a>
                </div>
                <div class=second-col>
                    <div style="padding:56.25% 0 0;position:relative"><iframe src=https://player.vimeo.com/video/704044472 style=position:absolute;top:0;left:0;width:100%;height:100% frameborder=0 allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
                    <script src=https://player.vimeo.com/api/player.js></script>
                </div>
            </div>
            <div class='two-col-row row-1'>
                <div class=first-col>
                    <h3 class='header-template header-counter'><span class='f-w900 txt-underline txt-break txt-red txt-XL'>Lokalna obsługa</span>
                        <span class='header-template f-w700 txt-black txt-XXL'>Wrocław</span>
                    </h3>Współpracujemy głównie z firmami, które pochodzą z Wrocławia. Natomiast obsługujemy również klientów działającymi na terenie całego kraju. Od lokalnych firm, po duże spółki potrzebujące SEO na ogólnopolskie pozycjonowanie. Celem jest lepsza komunikacja, większe nastawienie na efekty, znajomość rynku oraz jakościowa współpraca.
                    <a class=two-col-link href=/o-nas/ rel=follow>Przeczytaj więcej</a>
                </div>
                <div class=second-col><img data-src=/uploads/icon-big-main-aw-1.svg class='lazyload lmode'>
                    <img data-src=/uploads/home-dark-g1-1.svg class='lazyload dmode'>
                </div>
            </div>
            <div class='two-col-row row-2'>
                <div class=first-col>
                    <div class='header-template header-counter'><span class='f-w900 txt-underline txt-break txt-red txt-XL'>EFEKTY</span>
                        <span class='header-template f-w700 txt-black txt-XXL'>Efekty albo zwrot pieniędzy</span>
                    </div>Co każde 6 miesięcy działań siadamy do stołu i wspólnie analizujemy wyniki naszej pracy. Każde półrocze naszych działań jest planowane na każdy pik współpracy, tak aby klient wiedział gdzie potencjalnie jego strona się znajdzie co określony czas. Dajemy na to gwarancję. Efekty albo zwrot pieniędzy.
                    <a class=two-col-link href=/o-nas/ rel=follow>Przeczytaj więcej</a>
                </div>
                <div class=second-col><img data-src=/uploads/icon-big-main-aw-2.svg class='lazyload lmode'>
                    <img data-src=/uploads/home-dark-g2.svg class='lazyload dmode'>
                </div>
            </div>
        </section>
        <section class='sec-padding sc-our-clients'>
            <h3 class=header-template><span class='f-w700 txt-black txt-XL'>Nasi</span>
                <span class='header-template f-w700 txt-underline txt-red txt-L ornament-r-b'>KLIENCI</span>
            </h3>
            <ul>
                <li><a title="Portal informacyjny Wrocławia" rel=nofollow href=https://www.tuwroclaw.com/ target=_blank><img class=lazyload data-src=/uploads/tuwroclaw-logo-aw.jpg></a></li>
                <li><a title=https://medicus.com.pl/ rel=nofollow href=https://medicus.com.pl/ target=_blank><img class=lazyload data-src=/uploads/medicus-logo-aw.jpg></a></li>
                <li><a title="Miejska Biblioteka we Wrocławiu" rel=nofollow href=https://biblioteka.wroc.pl/ target=_blank><img class=lazyload data-src=/uploads/mbp-wroclaw-logo-aw.jpg></a></li>
                <li><a title=https://inkomsa.pl/ href=https://inkomsa.pl/ target=_blank><img class=lazyload data-src=/uploads/inkom-logo-aw.jpg></a></li>
                <li><a title=https://wroclawskiejedzenie.pl/ rel=nofollow href=https://wroclawskiejedzenie.pl/ target=_blank><img class=lazyload data-src=/uploads/wpk-logo.jpg></a></li>
                <li><a title=https://4ti.com.pl rel=nofollow href=https://4ti.com.pl target=_blank><img class=lazyload data-src=/uploads/4ti-logo-aw.jpg></a></li>
                <li><a title=http://www.comfortplus.pl/ rel=nofollow href=http://www.comfortplus.pl/ target=_blank><img class=lazyload data-src=/uploads/comfortplus-logo-aw.jpg></a></li>
                <li><a title=Multivoucher href=https://www.multivoucher.pl/ target=_blank><img class=lazyload data-src=/uploads/multivoucher-logo.jpg></a></li>
                <li><a title=https://fox-air.pro/ rel=nofollow href=https://fox-air.pro/ target=_blank><img class=lazyload data-src=/uploads/foxess_foxair_pompy_ciepla_logo.webp></a></li>
                <li><a title=https://costa.pl/ rel=nofollow href=https://costa.pl/ target=_blank><img class=lazyload data-src=/uploads/costa-logo.jpg></a></li>
                <li><a title=https://wsm24.pl/ href=https://wsm24.pl/ target=_blank><img class=lazyload data-src=/uploads/wsm24-logo.jpg></a></li>
                <li><a title=https://kochamwroclaw.pl/ rel=nofollow href=https://kochamwroclaw.pl/ target=_blank><img class=lazyload data-src=/uploads/kochamwroclaw-logo.jpg></a></li>
            </ul>
        </section>
        <section class='sec-padding sc-home-services'>
            <div class=services-intro-cnt>
                <h2 class=header-template><span class='f-w900 txt-underline txt-break txt-red txt-L'>SEO</span>
                    <h3 class='header-template f-w700 txt-black txt-XL ornament-r-b'>czyli nasza specjalność</h3>
                </h2>
                <div class=services-main-desc>Jako <strong>Agencja SEO</strong> kompleksowo zajmujemy się realizacją pozycjonowania. Nasze działania przynoszą realną wartość dla firm w zakresie zwiększenia sprzedaży i budowania marki online. Jesteśmy ludźmi, pracujemy mądrze i sprytnie - nie jesteśmy botami</div>
            </div>
            <div class='services-cols-cnt cnt-visibility'>
                <div class=services-col-box><a class=servics-box-link href=/pozycjonowanie-stron/ rel=follow>
                        <div class=services-box-first-row>
                            <div class=services-ico><img data-src=/uploads/group-19.svg class='lazyload lmode'>
                                <img data-src=/uploads/ikona-pozycjonowanie-stron-dark.svg class='lazyload dmode'>
                            </div>
                            <h3 class=header-template><span class='f-w700 txt-black txt-L'>Pozycjonowanie stron internetowych</span></h3>
                        </div>
                        <div class=services-box-desc>Pozycjonowanie stron internetowych (z ang. Search Engine Optimization) to cały wieloetapowy proces, którego głównym założeniem jest poprawienie widoczności domeny w wyszukiwarkach takich jak Google. Dzięki zabiegom optymalizacji i sprawnego linkbuildingu Twoją stronę odwiedzi coraz więcej klientów.</div>
                    </a></div>
                <div class=services-col-box><a class=servics-box-link href=/pozycjonowanie-sklepow/ rel=follow>
                        <div class=services-box-first-row>
                            <div class=services-ico><img data-src=/uploads/group-160.svg class='lazyload lmode'>
                                <img data-src=/uploads/pozycjonowanie-sklepow-dark.svg class='lazyload dmode'>
                            </div>
                            <h3 class=header-template><span class='f-w700 txt-black txt-L'>Pozycjonowanie sklepów internetowych</span></h3>
                        </div>
                        <div class=services-box-desc>W zasadzie proces przygotowania i optymalizacji sklepu jest z reguły tym samym, jak w przypadku strony. Natomiast ważne jest wybranie odpowiednich fraz, które zwiększą współczynnik konwersji. Uściślając - stosunek wizyt na sklepie, ma przekładać się na jak największą sprzedaż produktów klienta.</div>
                    </a></div>
                <div class=services-col-box><a class=servics-box-link href=/pozycjonowanie-lokalne/ rel=follow>
                        <div class=services-box-first-row>
                            <div class=services-ico><img data-src=/uploads/group-164.svg class='lazyload lmode'>
                                <img data-src=/uploads/pozycjonowanie-lokalne-dark.svg class='lazyload dmode'>
                            </div>
                            <h3 class=header-template><span class='f-w700 txt-black txt-L'>Pozycjonowanie lokalne</span></h3>
                        </div>
                        <div class=services-box-desc>Sprawne i indywidualne obranie ścieżki na pozycjonowanie regionalnych stron i mniejszych sklepów internetowych jest kluczowe w wyrobieniu sobie wysokiej lokalnej pozycji w internecie i dotarcia do klientów w pobliżu.</div>
                    </a></div>
                <div class=services-col-box><a class=servics-box-link href=/optymalizacja-seo/ rel=follow>
                        <div class=services-box-first-row>
                            <div class=services-ico><img data-src=/uploads/group-165.svg class='lazyload lmode'>
                                <img data-src=/uploads/audyt.svg class='lazyload dmode'>
                            </div>
                            <h3 class=header-template><span class='f-w700 txt-black txt-L'>Audyt i optymalizacja SEO</span></h3>
                        </div>
                        <div class=services-box-desc>Każdy zainteresowany potencjalną współpracą klient otrzymuje od nas bezpłatny, rzetelny audyt na temat jego domeny. Mamy za zadanie pokazać klientowi jego obecną pozycję, porównanie do bezpośredniej konkurencję, obecny profil linkowy, czy aktualną szybkość strony. W kolejnym kroku przedstawiamy klientowi naszą wizję zoptymalizowania i dywersyfikacji obecnej treści oraz strategię działania.</div>
                    </a></div>
                <div class=services-col-box><a class=servics-box-link href=/konsultacje-seo/ rel=follow>
                        <div class=services-box-first-row>
                            <div class=services-ico><img data-src=/uploads/group-166.svg class='lazyload lmode'>
                                <img data-src=/uploads/konsultacje.svg class='lazyload dmode'>
                            </div>
                            <h3 class=header-template><span class='f-w700 txt-black txt-L'>Konsultacje SEO</span></h3>
                        </div>
                        <div class=services-box-desc>Dla klientów, którzy chcą prowadzić swoją stronę lub sklep internetowy w pojedynkę, bez udziału osób trzecich - służymy radą i pomocą. Mini szkolenia z zakresu pozycjonowania i optymalizacji, które są w stanie ukazać cały know how oraz metody działania jako administrator pomogą poznać bliżej świat SEO.</div>
                    </a></div>
            </div>
        </section>
        <section class='sec-padding sc-front-news'>
            <h3 class='header-template front-news-header'><span class='f-w900 txt-underline txt-red txt-L'>Aktualności</span></h3>
            <ul class="news-list cnt-visibility">
                {% for p in posts %}
                <li>
                    <ul class=categories></ul>
                    <a href={{p.path}}>
                        <h3>{{p.post_title}}</h3>
                        <div class=art-summary>{{p.short_desc}}</div>
                    </a>
                    <div class=list-art-footer><span class=list-art-date>{{function('get_the_date', 'd.m.Y', p)}}</span>
                        <span class=list-art-authorname>| &nbsp; {{p.author.name}}</span>
                        <img class="lazyload art-author-img" data-src={{ p.author.meta('profil_picture') }}>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class=front-news-more-cnt><a class=front-news-more href=/blog />WIĘCEJ AKTUALNOŚCI</a></div>
        </section>
    </main><svg class="svg">
        <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox">
            <path d="M1 0S.734.31.0.148v.733s.353.254 1 .02V0" />
        </clipPath>
    </svg><svg class="svg">
        <clipPath id="my-clip-path2" clipPathUnits="objectBoundingBox">
            <path d="M1 .171S.95.13.857.177C.711.25.447.413.0.316v.721s.353.249 1 .019V.171" />
        </clipPath>
    </svg>

{{ function('get_footer', '') }}